<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
      <p>URL Genreated http://localhost/api/v1/url</p>
     
    <% } %>
     
    <form action="/api/v1/url" method="POST">
      <div>
        <label for="url">Enter your Original URL</label>
        <input
          id="url"
          type="text"
          name="url"
          placeholder="http://example.com" />

        <button type="submit">Generate</button>
      </div>
    </form>
  </body>
</html>
